html{font-family:'Rubik',sans-serif;font-size:20px;height:100%}
body{background-color:#867e71;min-height:100%;position:relative;margin:0}
h1{font-size:50px;text-align:center}
p{font-size:20px}

.bg-blue1{background-color:#00a2e1}
.bg-blue2{background-color:#005ec4}
.bg-blue3{background-color:#010733}
.blue1{color:#00a2e1}
.blue2{color:#005ec4}
.blue3{color:#010733}
.white{color:white}
.font20{font-size:20px}
.font25{font-size:25px}
.font30{font-size:30px}
.font40{font-size:40px}
.font50{font-size:50px}
.fullwidth{width:100%}
.navbutton{float:left;color:white;text-align:center;padding:10.75px 15px;font-size:24px;text-decoration:none;cursor:pointer}
.currentPage{background-color:#00a2e1}
.hidden{overflow:hidden}

#navicon{width:40px;height:40px;position:relative;top:5px}
#navbar{position:fixed;width:100%;height:50px;top:0}
#navbar :hover{color:black;background-color:white}
#content{margin-bottom:100px;position:relative;top:60px;padding:30px}
#footer{height:150px;width:100%;position:relative}
#footerimg1{position:absolute;right:10px;top:10px;width:300px;height:60px}

@media (max-width:600px){
    #footerimg1{display:none}
    .navbutton{padding:9.25px 10px;font-size:18px}
    #navicon{width:40px;height:40px;top:2px}
    #navbar{height:40px}
}